// Core variables and mixins
@import "../../vendor/stylesheets/bootstrap/variables.less";
@import "../../vendor/stylesheets/bootstrap/mixins.less";


// Override bootstrap variables
@headings-small-color: @brand-success;
@link-color: @brand-success;
@body-bg: #FAFFF4;
@jumbotron-bg: #CAE6B1;


// Reset
@import "../../vendor/stylesheets/bootstrap/normalize.less";
@import "../../vendor/stylesheets/bootstrap/print.less";

// Core CSS
@import "../../vendor/stylesheets/bootstrap/scaffolding.less";
@import "../../vendor/stylesheets/bootstrap/type.less";
@import "../../vendor/stylesheets/bootstrap/code.less";
@import "../../vendor/stylesheets/bootstrap/grid.less";
@import "../../vendor/stylesheets/bootstrap/tables.less";
@import "../../vendor/stylesheets/bootstrap/forms.less";
@import "../../vendor/stylesheets/bootstrap/buttons.less";

// Components
@import "../../vendor/stylesheets/bootstrap/component-animations.less";
@import "../../vendor/stylesheets/bootstrap/glyphicons.less";
@import "../../vendor/stylesheets/bootstrap/dropdowns.less";
@import "../../vendor/stylesheets/bootstrap/button-groups.less";
@import "../../vendor/stylesheets/bootstrap/input-groups.less";
@import "../../vendor/stylesheets/bootstrap/navs.less";
@import "../../vendor/stylesheets/bootstrap/navbar.less";
@import "../../vendor/stylesheets/bootstrap/breadcrumbs.less";
@import "../../vendor/stylesheets/bootstrap/pagination.less";
@import "../../vendor/stylesheets/bootstrap/pager.less";
@import "../../vendor/stylesheets/bootstrap/labels.less";
@import "../../vendor/stylesheets/bootstrap/badges.less";
@import "../../vendor/stylesheets/bootstrap/jumbotron.less";
@import "../../vendor/stylesheets/bootstrap/thumbnails.less";
@import "../../vendor/stylesheets/bootstrap/alerts.less";
@import "../../vendor/stylesheets/bootstrap/progress-bars.less";
@import "../../vendor/stylesheets/bootstrap/media.less";
@import "../../vendor/stylesheets/bootstrap/list-group.less";
@import "../../vendor/stylesheets/bootstrap/panels.less";
@import "../../vendor/stylesheets/bootstrap/wells.less";
@import "../../vendor/stylesheets/bootstrap/close.less";

// Components w/ JavaScript
@import "../../vendor/stylesheets/bootstrap/modals.less";
@import "../../vendor/stylesheets/bootstrap/tooltip.less";
@import "../../vendor/stylesheets/bootstrap/popovers.less";
@import "../../vendor/stylesheets/bootstrap/carousel.less";

// Utility classes
@import "../../vendor/stylesheets/bootstrap/utilities.less";
@import "../../vendor/stylesheets/bootstrap/responsive-utilities.less";


.navbar {
  margin-bottom: 0;
}

.jumbotron {
  background-image: url(/images/background.jpg);
}

.ticks i {
  color: @brand-success;
  padding-right: 10px;
}

@media (min-width: @screen-md) {
  #tagline {
    position: relative;
    top: 140px;
  }
}

#logo {
  width: 90%;
  height: auto;
  max-width: 400px;
}

iframe {
  -webkit-filter: sepia(5%) hue-rotate(30deg);
  filter: sepia(10%) hue-rotate(40deg);

  border-style: solid;
  border-width: 1px;
  border-color: #CCC;
}

.footer {
  padding: 15px 0 25px 0;
}
