<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">The Kennels</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#about">About</a></li>
        <li><a href="#options">Options</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</div>

<div class="jumbotron">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6">
        <p>
          <%= image_tag 'logo.gif', :id => "logo" %>
        </p>
      </div>

      <div id="tagline-holder" class="col-md-6">
        <div id="tagline">
          <p class="lead">We are family owned and operated, based in a lovely country setting just outside of Milton.</p>
          <p><a class="btn btn-lg btn-success" href="#contact">Call us now</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 id="about">About</h1>
      </div>
      <p class="lead">
        We accomodate all dogs from small to extra large breeds. Pick ups and drop offs may be available by arrangement but will depend on times and dates.
      </p>

      <div class="row ticks">
        <% ["Individual kennels", "Underfloor heating", "Private runs", "Large exercise yards", "Top quality food twice a day", "Option to supply your own food"].each do |text| %>
          <div class="col-sm-6">
            <h4>
              <i>✔</i>
              <%= text %>
            </h4>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 id="options">The options</h1>
      </div>
      <p class="lead">We have both single and double kennels and runs. All Dogs get a 10% discount for long term stays.</p>

      <div class="row">
        <div class="col-sm-4">
          <h4>Small <small>$12/night</small></h4>
          <p>For example a Chihuahua, Fox Terrier, or Shih Tzu.</p>
        </div>

        <div class="col-sm-4">
          <h4>Medium <small>$14/night</small></h4>
          <p>For example a Cocker Spaniel, Beagle, or Standard Schnauzer.</p>
        </div>

        <div class="col-sm-4">
          <h4>Large <small>$16/night</small></h4>
          <p>For example an English Springer Spaniel, German Shepard, or Labrador.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 id="contact">Contact us</h1>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <address>
            <strong>Udo &amp; Leigh-Anne Fuehrer</strong><br>
            <a href="mailto:kennelsmilton@gmail.com">kennelsmilton@gmail.com</a><br>
            <abbr title="Phone">P:</abbr> (03) 4174262<br>
            <abbr title="Mobile">M:</abbr> 027 5332064
          </address>

          <address>
            <strong>The Kennels</strong>,<br>
            251 Fletchers Road,<br>
            Table Hill. R. D. 2,<br>
            Milton 9292
          </address>
        </div>

        <div class="col-sm-9">
          <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="//maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=251%2BFletchers%2BRoad%2Bmilton&ie=UTF8&z=12&t=m&iwloc=near&output=embed"></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <p>&copy; The Kennels</p>
  </div>

</div> <!-- /container -->